/*----------------------- Full Page */
/* This code targets everything on the page to get things set to a standard */
* {
    box-sizing: border-box; /* Sets how the width and height of all elements are calculated, margin not included */
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*----------------------- Header */
/* This code targets the top bar of the website */
header {
    position: fixed; /* Positions the header at the top of the page even when scrolling (including top, and width) */
    top: 0;
    width: 100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a:hover {
    color: lightgrey;
}

/*----------------------- Cover Photo */
/* This code places and sizes a cover photo under the header bar */
.coverPhoto {
    width: 100%;
    height: 800px;
    margin-top: 75px;
    margin-bottom: 25px;
    object-fit: cover;
    overflow: hidden;
}

/*----------------------- Main */
/* This code controls the left (main) content */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.float-left { /* Adjusts the image to the left side of the section */
    float: left;
    margin-right: 25px;
}

.float-right {/* Adjusts the image to the right side of the section */
    float: right;
    margin-left: 25px;
}

main section img {
    max-height: 200px;
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

main section p {
    line-height: normal;
}

/*----------------------- Aside */
/* This code controls the right (side bar) content */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both; /* Nothing to the sides */
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

aside section h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.17em;
}

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px; /* Width of 150px at the most */
}

/*----------------------- Footer */
/* This code contols the bottom bar (footer) content */
footer { 
    padding: 30px;
    clear: both; /* Nothing to the sides */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: normal;
}

footer h2 {
    font-size: 20px;
    font-weight: bold;
}
